#all-container {
    display: flex;
    justify-content: center;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    border: 5px solid grey;
    flex: 0 1 auto; 
    background-color: black;
    padding: 10px;
}

#display-container {
    display: flex;
    justify-content: flex-end;  
    font-size: 50px;
    border: 4px solid teal;
    background-color: #b2b9b7;
    padding: 10px 10px;
}

#bottom-container {
    display: flex;
    border: 3px solid orange;
}

#bottom-left-container {
    border: 2px solid green;
    
}

#options {
    border: 2px solid purple;
}

#numpad {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid magenta;
}

#bottom-right-container {
    display: flex;
    flex-direction: column;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 15px 35px;
    border-radius: 8px;
    width: 3em;
}

#btn0 {
    width: 6em;
}

#equal {
    background-color: rgb(255, 195, 83);
}